<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScreen Projector</title>
    <link rel="stylesheet" href="/static/projector.css">
</head>

<body>

    <div class="layer white"></div>
    
    <div class="layer" id="section-red">
        <img src="/static/presets/nemesis_lockdown_surface/layer_inverted_nemesis_lockdown_surface_section_red.png"/>
    </div>
    <div class="layer" id="section-blue">
        <img src="/static/presets/nemesis_lockdown_surface/layer_inverted_nemesis_lockdown_surface_section_blue.png"/>
    </div>
    <div class="layer" id="section-yellow">
        <img src="/static/presets/nemesis_lockdown_surface/layer_inverted_nemesis_lockdown_surface_section_yellow.png"/>
    </div>
    <div class="layer" id="section-elevator">
        <img src="/static/presets/nemesis_lockdown_surface/layer_inverted_nemesis_lockdown_surface_section_elevator.png"/>
    </div>

    <div class="layer dimmer"></div>

<script src="/static/projector.js"></script>
</body>

</html>

