<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameScreen Projector</title>
    <link rel="stylesheet" href="/static/projector.css">
</head>

<body>
    <div class="layer black"></div>

    {% for layer in layers %}
        <div class="layer" id="{{ layer.id }}">
            <img alt="" src="/static/presets/{{ preset_id }}/{{ layer.image_file }}"/>
        </div>
    {% endfor %}

    <div class="layer" id="dimmer"></div>
    <div class="layer" id="dark_bright"></div>

    <script src="/static/projector.js"></script>

</body>

</html>
